In [1]:
# pandas Series example
import pandas as pd
import numpy as np

i = np.array([10,20,30,40,'Amol','Chetan','Nitesh'])
j = pd.Series(i)
print(j)

0        10
1        20
2        30
3        40
4      Amol
5    Chetan
6    Nitesh
dtype: object

In [2]:
# pandas DataFrame example
import pandas as pd
import numpy as np

i = np.array([10,20,30,40,'Amol','Chetan','Nitesh'])
j = pd.DataFrame(i)
print(j)

        0
0      10
1      20
2      30
3      40
4    Amol
5  Chetan
6  Nitesh

In [5]:
# pandas DataFrame example
import pandas as pd
import numpy as np

i={
    'Amol':['python','CSS','HTML'],
    'Chetan':['C','C++','SQL'],
    'Nitesh':['MPSC','PSI','STI']
}
j = pd.DataFrame(i)
print(j)

     Amol Chetan Nitesh
0  python      C   MPSC
1     CSS    C++    PSI
2    HTML    SQL    STI

In [1]:
# Empty Series Example
import pandas as pd

i = pd.Series()
print(i)

Series([], dtype: float64)

C:\Users\India\AppData\Local\Temp/ipykernel_6184/941181375.py:4: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  i = pd.Series()

In [6]:
# Series example with 1D
import pandas as pd
import numpy as np

i = np.array([10,20,30,40,'data1','data2','data3',10.25])
j = pd.Series(i)
print(j)

0       10
1       20
2       30
3       40
4    data1
5    data2
6    data3
7    10.25
dtype: object

In [18]:
# Series example with Dict.
import pandas as pd


i = {'a':10,'b':20,'c':30,'d':40}
j = pd.Series(i)
print(j)

a    10
b    20
c    30
d    40
dtype: int64

In [19]:
# Series example with Scalar Values
import pandas as pd

i = pd.Series('John',index=[0,1,2,3,4,5])
print(i)

0    John
1    John
2    John
3    John
4    John
5    John
dtype: object

In [22]:
# Series example with Scalar Values
import pandas as pd


i = pd.Series(['HTML','CSS','SQL','HTML','CSS','SQL'],index=[0,1,2,3,4,5])
print(i)

0    HTML
1     CSS
2     SQL
3    HTML
4     CSS
5     SQL
dtype: object

In [17]:
# Series example with Scalar Values access data
print(i[4])

CSS

In [18]:
# Series example with Scalar Values access data
print(i[0])

HTML

In [2]:
# Series example with Scalar Values(error_index not match)
import pandas as pd


i = pd.Series(['HTML','CSS','SQL','HTML','CSS','SQL'],index=[0,1,2,3,4,5,6])
print(i)

ValueError: Length of values (6) does not match length of index (7)

In [23]:
# Series example fetch Index and Values
import pandas as pd


i = pd.Series(['HTML','CSS','SQL'],index=['a','b',2])
print(i)
print(i.index)
print(i.values)

a    HTML
b     CSS
2     SQL
dtype: object
Index(['a', 'b', 2], dtype='object')
['HTML' 'CSS' 'SQL']

In [26]:
# Series example fetch Index 
import pandas as pd
import numpy as np

i = pd.Series(['HTML','CSS','SQL'],index=['a','b',2])
j = pd.Series(['HTML','CSS','SQL','Python'])
print(i)
print()
print(j)

print(i.index)
print()
print(j.index)

a    HTML
b     CSS
2     SQL
dtype: object

0      HTML
1       CSS
2       SQL
3    Python
dtype: object
Index(['a', 'b', 2], dtype='object')

RangeIndex(start=0, stop=4, step=1)

In [25]:
# Series example fetch Values
import pandas as pd


i = pd.Series(['HTML','CSS','SQL'],index=['a','b',2])
j = pd.Series(['HTML','CSS','SQL','Python'])
print(i)
print()
print(j)

print(i.values)
print()
print(j.values)

a    HTML
b     CSS
2     SQL
dtype: object

0      HTML
1       CSS
2       SQL
3    Python
dtype: object
['HTML' 'CSS' 'SQL']

['HTML' 'CSS' 'SQL' 'Python']

In [26]:
import pandas as pd

i = pd.Series([10,20,30,40,50,60])
j = pd.Series([10.10,20.20,30.30,40.40,50.50,60.60])
print(i)
print()
print(j)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

0    10.1
1    20.2
2    30.3
3    40.4
4    50.5
5    60.6
dtype: float64

In [29]:
# Series example fetch data type
print(i.dtype)

int64

In [3]:
# Series example fetch data type
print(j.dtype)

In [17]:
import pandas as pd


i = pd.Series([10,20,30,40,50])
j = pd.Series(['a','b','c','d'])
print(i)
print()
print(j)

0    10
1    20
2    30
3    40
4    50
dtype: int64

0    a
1    b
2    c
3    d
dtype: object

In [32]:
# Series example fetch shape
print(i.shape)
print(j.shape)

(5,)
(4,)

In [35]:
# Series example fetch Dimension
print(i.ndim)
print(j.ndim)

1
1

In [36]:
# Series example fetch size
print(i.size)
print(j.size)

5
4

In [27]:
# Series example Empty


i = pd.Series([10,20,30,40,50])
j = pd.Series(['a','b','c','d'])
k = pd.Series([])
print(i)
print(j)
print(k)

0    10
1    20
2    30
3    40
4    50
dtype: int64
0    a
1    b
2    c
3    d
dtype: object
Series([], dtype: float64)

C:\Users\India\AppData\Local\Temp/ipykernel_7160/684310813.py:6: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  k = pd.Series([])

In [2]:
print(i.empty)
print(j.empty)
print(k.empty)

False
False
True

In [28]:
# Series example hasnans
import pandas as pd


i = pd.Series([10,20,30,40,50,np.NaN])
j = pd.Series(['a','b','c','d'])
k = pd.Series([])
print(i)
print(j)
print(k)

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5     NaN
dtype: float64
0    a
1    b
2    c
3    d
dtype: object
Series([], dtype: float64)

C:\Users\India\AppData\Local\Temp/ipykernel_7160/195309306.py:6: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  k = pd.Series([])

In [5]:
print(i.hasnans)
print(j.hasnans)
print(k.hasnans)

True
False
False

In [7]:
# program to check pandas Version
import pandas
print(pandas.__version__)

1.3.4

In [9]:
# Series example of change data type
import pandas as pd

i = pd.Series([10,20,30,40,50],index=[0,1,2,3,4],dtype=float)
i

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
dtype: float64

In [10]:
# Series Name example

i = pd.Series([10,20,30,40,50],
              index=[0,1,2,3,4],
              dtype=float,
             name='Data Values')
i

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
Name: Data Values, dtype: float64

In [13]:
import pandas as pd

i = pd.Series([10,20,30,40,50],index=[0,'a',2,3,4])
print(i)

0    10
a    20
2    30
3    40
4    50
dtype: int64

In [14]:
# Series example Slicing
print(i[1:4])

a    20
2    30
3    40
dtype: int64

In [16]:
# Series example forr Max. and Min. value
print(min(i))
print(max(i))

10
50

In [29]:
# Series example for add operation(Equal value)
import pandas as pd

i = pd.Series([10,20,30,40])
j = pd.Series([1,2,3,4])
print(i)
print(j)
print(i+j)

0    10
1    20
2    30
3    40
dtype: int64
0    1
1    2
2    3
3    4
dtype: int64
0    11
1    22
2    33
3    44
dtype: int64

In [30]:
# Series example for add operation(Non-Equal value)
import pandas as pd

i = pd.Series([10,20,30,40])
j = pd.Series([1,2,3,4,5])
print(i)
print(j)
print(i+j)

0    10
1    20
2    30
3    40
dtype: int64
0    1
1    2
2    3
3    4
4    5
dtype: int64
0    11.0
1    22.0
2    33.0
3    44.0
4     NaN
dtype: float64